<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EasternWeb</title>

  <!-- Bootstrap core CSS -->
{% load static %}
  <link href='{% static "/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">EasternWeb</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

{% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">{{request.user}}</a>
          </li>
{% else %}

          <li class="nav-item">
            <a class="nav-link" href="/admin">Login</a>
          </li>

{% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
	<li class="nav-item">
            <a class="nav-link" href="/invest">Invest</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<style>
.container {

}
</style>
  <!-- Page Content -->
  <div class="container">



	<div class="row">
		<div class="col-lg-12" style="margin-top:30px">
	<h1>Here's what we offer</h1>
<hr>



			<h2 class"mt-5">Email</h2>
			<p>Easternweb can provide you and your employees
 with a custom email address, such as yourname@yourcompany.com. We'll register the domain for you and do all the setup, all you have to do is give us the addresses you want. We'll help you link your email into your favorite program, such as outlook or webmail so you can easily access your mailbox from your phone, computer, or any other internet connected device.
		</div>
<blockquote class="imgur-embed-pub" lang="en" data-id="a/K8taZAP" data-context="false" ><a href="//imgur.com/a/K8taZAP"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

	</div>

    <div class="row"> <!--- amazon div -->
      <div class="col-lg-12">

        <h1 class="mt-5">Discounts from our Partners</h1>
	<p>We try to work with as many retailers, manufacturers, and others to provide you with the best price possible. Below are some of the current promotions offered by our affiliates. Just click the link and complete your purchase to save. 

<br>Any purchase bought through a promotional link can be returned to easternweb locally for a full refund.</p>

<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=computers_accesories&banner=0J5V5S7BR2TDNZ430JR2&f=ifr&linkID=c2547a93132b6c3273b8f6c5ade202ee&t=11702c3-20&tracking_id=11702c3-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
    </div>

	
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "/jquery/jquery.slim.min.js" %}'></script>
  <script src='{% static "/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
  <link href='{% static "/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

</body>

</html>
